.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 130px;
    margin-bottom: 130px;
    background: linear-gradient(180deg, #fde1ff 10%,#e1ffea22) 60%;
    gap: 30px;
    padding-top: 50px;
}
.newsletter h1{
    color: #454545;
    font-size: 45px;
    font-weight: 600;
}
.newsletter p{
    color: #454545;
    font-size: 18px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 650px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid#e3e3e3;


}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #494848;
    font-size: 16px;
    font-weight: 500;
}
.newsletter button{
    width: 200px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.newsletter button:active{
    background: gray;
    border: none;
    color: red;
}

